.layout {
  background: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    display: flex;
    flex: 1 0 auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  &__main {
    flex: 1 0 auto;
  }
}

