@use '@/app/styles/utilities' as *;

.theme-toggle {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include focus-styles;

  &__trigger {
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.4rem;
    border-radius: 100%;
    transition: background-color 300ms ease-in-out;
    color: var(--foreground);

    &:hover {
      background-color: var(--muted);
    }
  }
}